/**************************************************************/
/*                                                            */
/*                         style.less                         */
/*                                                            */
/**************************************************************/
/* 色設定 */
@text:#F5F5F5; // 全体の文字色
@bg:#444; // メイン背景色

/* その他 */
@font-size: 15px;
@side-padding:5%;
@mincho:'ヒラギノ明朝 Pro W3','Hiragino Mincho Pro','ＭＳ Ｐ明朝','MS PMincho',serif;
@gochic:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;

/*------------------------------*/
/*            共通部            */
/*------------------------------*/
/* HTML構造に関わる部分 */
html {
	//margin-bottom:1px;
	height:100%;
	width:100%;
	//overflow-y:scroll;
}

body {
	background:@bg;
	line-height:1.6;
	font-size:@font-size;
	color:@text;
	margin:0;
	letter-spacing:0.15em;
	//font-family:@gochic;
}

/* パーツ */
a {
	img { border:0; }

	&:link {
		color:#274A78;
		text-decoration:none;
	}
	
	&:visited {
		color:#6D89AD;
	}

	&:hover {
		a:link;
		text-decoration:underline;
	}
}

h1, h2 {
	margin-top:1em;
	font-family:@mincho;
	margin-bottom:0em;
}

h1 {
	border-bottom:1px solid #CCC;
	padding-bottom:0.1em;
	margin-bottom:1em;
	width:50%;
}

p {
	margin:5px 0;
	text-align:justify;
	text-justify:inter-ideograph;
	
	&.indent {
		text-indent:1em;
	}
}

ul {
	padding-left:2em;
	margin:0;
}

label {
	margin:7px 5px 5px 0;
}

input {
	font-size:110%;

	&[type=text] {
		padding:5px;
	}
}

textarea {
	padding:5px;
	overflow-y:scroll;
	width:98%;
}

/*------------------------------*/
/*        ページ構成要素        */
/*------------------------------*/
/* いろいろ */
@tex-height:150px;

div#container {
	width:95%;
	.boxsizing;
	margin:0 auto;
	padding:0 1em;
}

div#log {
	background:#F5F5F5;
	width:98%;
	min-height:10em;
	overflow:scroll;
	padding:0.5em;
	max-height:20em;
	overflow:scroll;
	color:@bg;
	
	p {
		margin:0;
	}
}

header#to_score {
	background:#EEE;
	color:#444;
	position:absolute;
	top:10%;
	right:10%;
	padding:2em;
	cursor:pointer;
}



/* スコア */
table#board {
	margin:1em auto;
	border-collapse:collapse;
	
	td {
		border:1px solid #000;
		background:#CCC;
		vertical-align:middle;
		background-color:#FFF;
		background-size:contain;
	}
	
	td.c { background-image:url('c.svg'); }
	td.h { background-image:url('h.svg'); }
	td.item { background-image:url('heart.svg'); }
	td.block { background-image:url('block.svg'); }
	td.floor { background-color:#FFF; }
	.block.c { background-image:url('c.svg'), url('block.svg'); }
	.block.h { background-image:url('h.svg'), url('block.svg'); }
	.h.c{ background-image:url('h.svg'), url('c.svg'); }
}

.side {
	background:#888;
	border:1px solid #DDD;
	border-radius:3px;
	width:10%;
	position:absolute;
	top:50%;
	.boxsizing;
	padding:0.5em;
}

#side_c {
	left:0;
}

#side_h {
	right:0;
	text:right;
}







/*------------------------------*/
/*             関数             */
/*------------------------------*/
/* 線形グラデーション */
.gradient(@s:#fff, @e:#000) {
	// ふえぇ…早く統一してよぉ…。
	background: (@s + @e) / 2;
	background: -webkit-gradient(linear, left top, left bottom, from(@s), to(@e));
	background: -webkit-linear-gradient(top, @s, @e);
	background: -moz-linear-gradient(top, @s, @e);
	background: -o-linear-gradient(top, @s, @e);
	background: linear-gradient(to bottom, @s, @e); // 要検証
}

/* アニメーション系 */
.trans(@arg) {
	-webkit-transition:@arg;
	-moz-transition:@arg;
	-o-transition:@arg;
	transition:@arg;
}

/* box-sizing */
.boxsizing(@arg:border-box) {
	-moz-box-sizing: @arg;
	-webkit-box-sizing: @arg;
	box-sizing: @arg;
}

/* display:box */
.boxdisplay {
	display:-moz-box;
	display:-webkit-box;
	display:box;
}

/* box-flex */
.boxflex(@arg) {
	-moz-box-flex:@arg;
	-webkit-box-flex:@arg;
	box-flex:@arg;
}

/* Copy from http://cssdeck.com/labs/pressable-css-buttons */
.button {
    background-color: #999;
    background-image: -webkit-linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,0%,.1));
    background-image:    -moz-linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,0%,.1));
    background-image:     -ms-linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,0%,.1));
    background-image:      -o-linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,0%,.1));
    background-image:         linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,0%,.1));
    border: none;
    border-radius: .5em;
    box-shadow: inset 0 0 0 1px hsla(0,0%,0%,.25),
                inset 0 2px 0 hsla(0,0%,100%,.1),
                inset 0 1.2em 0 hsla(0,0%,100%,.1),
                inset 0 -.2em 0 hsla(0,0%,100%,.1),
                inset 0 -.25em 0 hsla(0,0%,0%,.5);
    color: #444;
    cursor: pointer;
    display: inline-block;
    font-family: sans-serif;
    font-size: 1em;
    font-weight: bold;
    line-height: 1.5;
    margin: 0 .5em 1em 0;
    padding: .5em 1.5em .75em;
    position: relative;
    text-decoration: none;
    text-shadow: 0 1px 1px hsla(0,0%,100%,.25);
    vertical-align: middle;
}
.button:hover {
    outline: none;
}
.button:hover,
.button:focus {
    box-shadow: inset 0 0 0 1px hsla(0,0%,0%,.25),
                inset 0 2px 0 hsla(0,0%,100%,.1),
                inset 0 1.2em 0 hsla(0,0%,100%,.1),
                inset 0 -.2em 0 hsla(0,0%,100%,.1),
                inset 0 -.25em 0 hsla(0,0%,0%,.5),
                inset 0 0 0 3em hsla(0,0%,100%,.2);
}
.button:active {
    box-shadow: inset 0 0 0 1px hsla(0,0%,0%,.25),
                inset 0 2px 0 hsla(0,0%,100%,.1),
                inset 0 1.2em 0 hsla(0,0%,100%,.1),
                inset 0 0 0 3em hsla(0,0%,100%,.2),
                inset 0 .25em .5em hsla(0,0%,0%,.05),
                0 -1px 1px hsla(0,0%,0%,.1);
    margin-top: .25em;
    outline: none;
    padding-bottom: .5em;
}

/* Light Text */

.lightText {
    box-shadow: inset 0 0 0 1px hsla(0,0%,0%,.25),
                inset 0 2px 0 hsla(0,0%,100%,.1),
                inset 0 1.2em 0 hsla(0,0%,100%,.05),
                inset 0 -.2em 0 hsla(0,0%,100%,.1),
                inset 0 -.25em 0 hsla(0,0%,0%,.5),
                0 .25em .25em hsla(0,0%,0%,.1);
    color: #fff;
    text-shadow: 0 -1px 1px hsla(0,0%,0%,.25);
}
.lightText:hover,
.lightText:focus {
    box-shadow: inset 0 0 0 1px hsla(0,0%,0%,.25),
                inset 0 2px 0 hsla(0,0%,100%,.1),
                inset 0 1.2em 0 hsla(0,0%,100%,.05),
                inset 0 -.2em 0 hsla(0,0%,100%,.1),
                inset 0 -.25em 0 hsla(0,0%,0%,.5),
                inset 0 0 0 3em hsla(0,0%,100%,.2),
                0 .25em .25em hsla(0,0%,0%,.1);
}
.lightText:active {
    box-shadow: inset 0 0 0 1px hsla(0,0%,0%,.25),
                inset 0 2px 0 hsla(0,0%,100%,.1),
                inset 0 1.2em 0 hsla(0,0%,100%,.05),
                inset 0 0 0 3em hsla(0,0%,100%,.2),
                inset 0 .25em .5em hsla(0,0%,0%,.05),
                0 -1px 1px hsla(0,0%,0%,.1),
                0 1px 1px hsla(0,0%,100%,.25);
}

/* Large */

.large {
    font-size: 1.25em;
}

/* Medium */

.medium {
    font-size: 1em;
}

/* Small */

.small {
    font-size: .75em;
}

/* Regular */

.regular {
    border-radius: .5em;
}

/* Square */

.square {
    border-radius: .25em;
}

/* Round */

.round {
    border-radius: 1.25em;
}

/* Red */

.red {
    background-color: #ff6c6f;
}

/* Orange */

.orange {
    background-color: #f6cf6f;
}

/* Yellow */

.yellow {
    background-color: #fff6c6;
}

/* Green */

.green {
    background-color: #6fcf6f;
}

/* Blue */

.blue {
    background-color: #6fc6ff;
}

/* Purple */

.purple {
    background-color: #f6c6ff;
}

/* White */

.white {
    background-color: #eee;
}

/* Grey */

.grey {
    background-color: #999;
}

/* Black */

.black {
    background-color: #444;
}

/* Custom */

.custom {
    background-color: #fff0f5; /* Set the button color here */
    color: #444; /* Remove this for a dark background */
}